@-webkit-keyframes bgAnimation {
  0% {
    background: #2bcd64; }
  20% {
    background: #00caff; }
  40% {
    background: #ffcf27; }
  60% {
    background: #fc2f4e; }
  80% {
    background: #57599f; }
  100% {
    background: #2bcd64; } }

@keyframes bgAnimation {
  0% {
    background: #2bcd64; }
  20% {
    background: #00caff; }
  40% {
    background: #ffcf27; }
  60% {
    background: #fc2f4e; }
  80% {
    background: #57599f; }
  100% {
    background: #2bcd64; } }

@-webkit-keyframes googleBtn {
  0% {
    opacity: 0; }
  2% {
    opacity: 1; }
  3% {
    width: 0;
    height: 0; }
  90% {
    width: 100px;
    height: 100px;
    top: -25px;
    left: -25px; }
  100% {
    opacity: 0; } }

@keyframes googleBtn {
  0% {
    opacity: 0; }
  2% {
    opacity: 1; }
  3% {
    width: 0;
    height: 0; }
  90% {
    width: 100px;
    height: 100px;
    top: -25px;
    left: -25px; }
  100% {
    opacity: 0; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pt50 {
  padding-top: 50px; }

.fix-menuBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  text-align: center;
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .fix-menuBtn div {
    width: 20px;
    height: 2px;
    background-color: #000;
    -webkit-transition: all .6s;
    transition: all .6s; }
    .fix-menuBtn div:first-child {
      margin: 22px auto 4px auto; }
    .fix-menuBtn div:nth-child(2) {
      margin: 0 auto 4px auto; }
    .fix-menuBtn div:last-child {
      margin: 0 auto; }
  .fix-menuBtn:hover {
    -webkit-box-shadow: 0 0 20px -2px #000;
    box-shadow: 0 0 20px -2px #000; }

.clicked div {
  -webkit-transition: all .6s;
  transition: all .6s; }
  .clicked div:first-child {
    -webkit-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    transform: rotate(400deg);
    margin-top: 27px; }
  .clicked div:nth-child(2) {
    opacity: 0; }
  .clicked div:last-child {
    -webkit-transform: rotate(-400deg);
    -ms-transform: rotate(-400deg);
    transform: rotate(-400deg);
    margin-top: -12px; }

.menu-effect {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 0;
  height: 0;
  background-color: #FFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .7s;
  transition: all .7s;
  z-index: 500; }

.menu-opening {
  width: 3000px;
  height: 3000px;
  top: -500px;
  right: -500px; }

.menu-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 600; }
  .menu-screen ul {
    width: 33.3%;
    float: left;
    padding-top: 200px;
    height: 100%; }
    .menu-screen ul li {
      padding: 10px 0;
      cursor: pointer; }
      .menu-screen ul li a {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        color: #000;
        -webkit-transition: all .4s;
        transition: all .4s;
        position: relative; }
        .menu-screen ul li a:after {
          -webkit-transition: all .4s;
          transition: all .4s;
          content: '';
          height: 1px;
          width: 0;
          background-color: #000;
          position: absolute;
          top: -5px;
          left: -20px;
          -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }
        .menu-screen ul li a:before {
          -webkit-transition: all .4s;
          transition: all .4s;
          content: '';
          height: 1px;
          width: 0;
          background-color: #000;
          position: absolute;
          bottom: 0px;
          right: -20px;
          -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }
      .menu-screen ul li:hover > .dd-menu {
        display: block; }
      .menu-screen ul li:hover > a {
        color: #000; }
        .menu-screen ul li:hover > a:after, .menu-screen ul li:hover > a:before {
          width: 30px; }

.firestLevel-menu {
  padding-left: 100px; }

.dd-menu {
  display: none;
  position: absolute;
  left: 33.3%;
  top: 0; }

.third-level-menu {
  left: 66.6%; }

.fix-logo,
.abs-logo {
  top: 30px;
  left: 30px;
  width: 200px;
  z-index: 900; }
  .fix-logo img,
  .abs-logo img {
    width: 100%; }

.fix-logo {
  position: fixed; }

.abs-logo {
  position: absolute; }

.fix-phones {
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 666;
  display: none; }
  .fix-phones a {
    color: #fff;
    font-size: 20px; }

.labelConnBtn {
  position: fixed;
  width: 200px;
  right: 77px;
  text-transform: uppercase;
  font-size: 18px;
  bottom: 43px;
  z-index: 666; }

.fix-connectBtn {
  bottom: 30px;
  right: 30px;
  z-index: 666;
  position: fixed; }
  .fix-connectBtn ul {
    position: absolute;
    bottom: 100%;
    right: -400px;
    width: 300px;
    text-align: right;
    -webkit-transition: all .8s;
    transition: all .8s; }
    .fix-connectBtn ul li {
      margin-bottom: 20px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: .8s;
      transition: .8s; }
  .fix-connectBtn .emblem {
    display: none;
    margin-right: 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px 17px;
    text-transform: uppercase; }
  .fix-connectBtn:hover .emblem {
    display: inline-block; }
  .fix-connectBtn:hover ul {
    right: 0; }
    .fix-connectBtn:hover ul li {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

.fix-logoPartners,
.abs-logoPartners {
  width: 100px;
  top: 100px;
  left: 30px;
  z-index: 900; }
  .fix-logoPartners img,
  .abs-logoPartners img {
    width: 100%; }

.fix-logoPartners {
  position: fixed; }

.abs-logoPartners {
  position: absolute; }

.footer div:first-child {
  font-size: 20px; }

.footer div:last-child a {
  font-size: 20px;
  color: #fff; }

.footer {
  background-color: #37474f;
  padding: 30px 0 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer .fp-tableCell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer .fp-tableCell div:first-child {
      font-size: 20px; }
    .footer .fp-tableCell div:last-child a {
      font-size: 20px;
      color: #fff;
      margin: 0 7px; }
  .footer div:first-child {
    font-size: 20px; }
  .footer div:last-child a {
    font-size: 20px;
    color: #fff;
    margin: 0 7px; }

.footer-menu li {
  display: inline-block;
  padding: 0 15px; }
  .footer-menu li a {
    color: #fff; }

.main-googleSearch {
  height: 80px;
  padding: 0 20px;
  background-color: #FFF;
  line-height: 70px;
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .main-googleSearch .googleLogo {
    width: 130px; }
  .main-googleSearch .search-line {
    width: 580px;
    height: 50px;
    border: 1px solid #4285F4;
    margin-left: 30px;
    color: #000;
    line-height: 50px;
    padding-left: 20px;
    font-size: 30px; }
  .main-googleSearch button {
    width: 51px;
    height: 50px;
    background-color: #4285F4;
    border: none;
    line-height: 50px;
    position: relative;
    overflow: hidden; }
    .main-googleSearch button:after {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-animation: googleBtn 1s 2.3s;
      animation: googleBtn 1s 2.3s;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      content: ''; }
  .main-googleSearch .typed-cursor {
    display: none; }

.main-title {
  text-align: center; }
  .main-title h1 {
    font-size: 2.3rem;
    font-weight: 700; }
  .main-title h2 {
    font-size: 2rem;
    margin: 10px 0 30px 0; }

.service-card {
  color: #000;
  height: 280px;
  position: relative; }
  .service-card .mainInfo,
  .service-card .moreInfo {
    position: absolute;
    -webkit-transition: all .7s;
    transition: all .7s;
    height: 100%;
    background-color: #FFF;
    width: 100%; }
  .service-card .moreInfo {
    background-color: #fff;
    opacity: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 20px; }
    .service-card .moreInfo div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center; }
      .service-card .moreInfo div:before {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 1px;
        background-color: #bdc3c7;
        content: ''; }
  .service-card .mainInfo {
    text-align: center;
    padding: 50px 0 0 0; }
    .service-card .mainInfo img {
      width: 50%;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .service-card .mainInfo h4 {
      text-transform: uppercase;
      font-size: 1.8rem;
      -webkit-transition: all .3s;
      transition: all .3s; }
  .service-card:hover .moreInfo {
    opacity: 1;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); }
  .service-card:hover .mainInfo {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .service-card:hover .mainInfo img, .service-card:hover .mainInfo h4 {
      opacity: 0; }

.advantages-list {
  color: #000; }
  .advantages-list .collapsible-body {
    background-color: #FFF; }

.tabs .indicator {
  background-color: #0091ea; }

.tabs .tab a {
  color: #0091ea; }
  .tabs .tab a:hover {
    color: rgba(0, 145, 234, 0.6); }

.team-member {
  height: 150px;
  width: 90%;
  background-color: #FFF;
  position: relative;
  padding: 10px 20px 0 70px;
  color: #37474f;
  text-align: center; }
  .team-member img {
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 0 #000;
    box-shadow: 0 0 10px 0 #000;
    position: absolute;
    top: 50%;
    left: -50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .team-member h4 {
    font-size: 1.5rem;
    font-weight: 700; }

.clients-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #FFF;
  padding: 40px 40px 20px 40px; }
  .clients-block .item {
    width: 27%;
    margin-bottom: 20px; }
    .clients-block .item img {
      width: 100%; }

.certifications-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.cert-item {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 5px 30px -5px #000;
  box-shadow: 0 5px 30px -5px #000;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: block;
  margin-bottom: 30px; }
  .cert-item:after {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px solid #fff;
    -webkit-transition: all .4s;
    transition: all .4s; }
  .cert-item img {
    width: 100%; }
  .cert-item:hover {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px); }
    .cert-item:hover:after {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }

.reportItem {
  background-color: #FFF;
  text-align: center;
  color: #37474f;
  padding: 20px 20px 0 20px;
  height: 370px; }
  .reportItem img {
    width: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .reportItem h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0; }
  .reportItem span {
    color: #ADB5C2;
    text-transform: uppercase; }
  .reportItem p {
    text-align: left; }

.services-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px; }
  .services-block .item {
    background-color: #FFF;
    width: 45%;
    padding: 15px 30px;
    color: #37474f;
    margin-bottom: 30px; }
    .services-block .item img {
      width: 50px; }
    .services-block .item span {
      text-transform: uppercase;
      font-weight: 700; }
    .services-block .item ul {
      text-align: center;
      margin-top: 20px; }
    .services-block .item table {
      margin: 30px 0; }
      .services-block .item table tr {
        border-bottom: 1px solid #ADB5C2; }
        .services-block .item table tr td:last-child {
          font-weight: 700; }

#serv_list,
#serv_packages,
#serv_adding {
  margin: 60px 0 120px 0; }

#serv_list tr td:last-child,
#serv_adding tr td:last-child {
  width: 300px; }

#serv_packages tr td.price {
  font-size: 25px;
  font-weight: 700; }

#serv_packages tr td img {
  width: 30px; }

#serv_packages tr td:first-child {
  width: 450px;
  padding: 0 20px; }

.services_prev {
  margin-top: 40px;
  text-align: center;
  font-size: 24px; }

.contact-page .title-block {
  margin-bottom: 40px; }

.contact-block-title {
  font-weight: 700;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase; }

.contact-block {
  color: #000;
  background-color: #fff;
  padding: 20px 30px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 7px 30px -7px #000;
  box-shadow: 0 7px 30px -7px #000;
  margin-bottom: 30px; }
  .contact-block .contact-block-title {
    color: #000; }

aside {
  position: fixed;
  right: 0;
  width: 300px;
  padding-top: 230px; }
  aside ul li {
    padding: 10px 0; }
    aside ul li a {
      color: #fff; }

.blog-container {
  padding: 50px 350px 0 150px; }
  .blog-container article {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px -5px #000;
    box-shadow: 0 0 20px -5px #000;
    color: #37474f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .blog-container article .img-block {
      width: 35%;
      background-size: cover; }
    .blog-container article .text-block {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px;
      width: 65%; }
      .blog-container article .text-block h5 {
        font-weight: 700;
        margin: 0; }
      .blog-container article .text-block .date {
        color: #ADB5C2; }
      .blog-container article .text-block p {
        border-bottom: 1px solid #ADB5C2;
        padding-bottom: 20px; }

.post-page {
  padding-top: 170px; }

.post-img {
  height: 400px;
  background-size: cover;
  -webkit-box-shadow: 0 0 30px -5px #000;
  box-shadow: 0 0 30px -5px #000;
  margin-bottom: 50px; }

.post-content {
  padding: 30px;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 30px -5px #000;
  box-shadow: 0 0 30px -5px #000;
  margin-bottom: 70px; }

.post-content__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700; }

.post-content__info {
  margin: 20px 0; }
  .post-content__info span {
    font-weight: 700; }

.about_section {
  background-size: cover; }
  .about_section .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.about-title {
  text-align: center; }
  .about-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0; }
  .about-title .devider {
    position: relative;
    margin: 20px auto;
    width: 50px; }
    .about-title .devider img {
      width: 100%; }
    .about-title .devider:after, .about-title .devider:before {
      content: '';
      position: absolute;
      top: 50%;
      background-color: #fff;
      height: 1px;
      width: 130px; }
    .about-title .devider:before {
      left: -145px; }
    .about-title .devider:after {
      right: -145px; }
  .about-title p {
    width: 70%;
    margin: 0 auto; }

.about-members {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 40px 0; }
  .about-members .flexRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about-members .flexRow:first-child {
      margin-left: 60px; }
    .about-members .flexRow:last-child {
      margin-right: 60px; }

.about-member {
  -webkit-box-shadow: 0 5px 20px -3px #000;
  box-shadow: 0 5px 20px -3px #000;
  position: relative;
  margin-top: 40px; }
  .about-member img {
    width: 100%; }
  .about-member .descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 40px; }
  .about-member:hover .descr {
    opacity: 1; }

.dont-work {
  font-size: 16px; }
  .dont-work li {
    padding: 10px; }

.service-page .section-title {
  padding: 40px 0 0 0; }
  .service-page .section-title h2 {
    font-weight: 400;
    font-size: 30px; }

.service-page .container .row:nth-child(even) .service-how-img {
  float: right; }

.service-how-descr {
  height: 300px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 30px -5px #000;
  box-shadow: 0 0 30px -5px #000;
  color: #000;
  padding: 30px;
  margin-bottom: 40px; }

.service-devider {
  height: 300px;
  padding-top: 110px; }
  .service-devider .circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    position: relative; }
    .service-devider .circle img {
      width: 40px; }
    .service-devider .circle:after, .service-devider .circle:before {
      position: absolute;
      content: '';
      background-color: #FFF;
      width: 1px; }
    .service-devider .circle:before {
      height: 110px;
      top: -110px;
      left: 50%; }
    .service-devider .circle:after {
      height: 180px;
      top: 100%;
      left: 50%; }

.service-how-img {
  width: 250px; }

html,
body {
  font-size: 16px;
  font-family: "proximaRegular", sans-serif; }

body {
  -webkit-animation: bgAnimation 120s infinite;
  animation: bgAnimation 120s infinite;
  color: #fff; }

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0; }

img {
  vertical-align: middle; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.hidden {
  display: none !important; }

.section-title {
  text-align: center;
  margin-bottom: 50px; }
  .section-title h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700; }

.certofocates-page {
  margin-bottom: 80px; }

.fixed-section-title {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .fixed-section-title h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700; }

.moreBtnBlock {
  margin: 50px 0;
  text-align: center; }

/* label color */
.input-field-light label {
  color: #fff; }

/* label focus color */
.input-field-light input[type=text]:focus + label,
textarea.materialize-textarea-light:focus + label {
  color: #e1e1e1; }

/* label underline focus color */
.input-field-light input[type=text],
textarea.materialize-textarea-light {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff; }
  .input-field-light input[type=text]:focus,
  textarea.materialize-textarea-light:focus {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff; }

textarea.materialize-textarea-light:focus:not([readonly]) + label {
  color: #e1e1e1; }

textarea.materialize-textarea-light:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff; }

.title-block {
  height: 220px;
  position: relative;
  overflow: hidden; }
  .title-block .bgBlock {
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .title-block .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .title-block .overlay h3 {
      font-weight: 700;
      text-transform: uppercase; }

.modal {
  overflow-y: hidden; }

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/Preloader_1.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    left: 50%;
    top: 50%;
    position: absolute; }
