.about_section
  background-size: cover
  .overlay
    background-color: transparentize(#000, .4)
    display: flex
    flex-direction: column
    justify-content: center

.about-title
  text-align: center
  h2
    text-transform: uppercase
    font-weight: 700
    margin: 0
  .devider
    position: relative
    margin: 20px auto
    width: 50px
    img
      width: 100%
    &:after,
    &:before
      content: ''
      position: absolute
      top: 50%
      background-color: #fff
      height: 1px
      width: 130px
    &:before
      left: -145px
    &:after
      right: -145px

  p
    width: 70%
    margin: 0 auto


.about-members
  display: flex
  flex-direction: column
  margin: 40px 0
  .flexRow
    display: flex
    justify-content: center
    &:first-child
      margin-left: 60px
    &:last-child
      margin-right: 60px
.about-member
  box-shadow: 0 5px 20px -3px #000
  position: relative
  margin-top: 40px
  img
    width: 100%
  .descr
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    transition: all .4s
    background-color: transparentize(#000, .3)
    text-align: center
    padding-top: 40px
  &:hover
    .descr
      opacity: 1

.dont-work
  font-size: 16px
  li
    padding: 10px