aside
  position: fixed
  right: 0
  width: 300px
  padding-top: 230px
  ul
    li
      padding: 10px 0
      a
        color: #fff

.blog-container
  padding: 50px 350px 0 150px
  article
    margin-bottom: 30px
    background-color: #fff
    box-shadow: 0 0 20px -5px #000
    color: $darkGray
    display: flex
    .img-block
      width: 35%
      background-size: cover
    .text-block
      box-sizing: border-box
      padding: 30px
      width: 65%
      h5
        font-weight: 700
        margin: 0
      .date
        color: $grayText
      p
        border-bottom: 1px solid $grayText
        padding-bottom: 20px


.post-page
  padding-top: 170px

.post-img
  height: 400px
  background-size: cover
  box-shadow: 0 0 30px -5px #000
  margin-bottom: 50px

.post-content
  padding: 30px
  background-color: #fff
  color: #000
  box-shadow: 0 0 30px -5px #000
  margin-bottom: 70px

.post-content__title
  text-align: center
  font-size: 30px
  font-weight: 700

.post-content__info
  margin: 20px 0
  span
    font-weight: 700