.contact-page
  .title-block
    margin-bottom: 40px
.contact-block-title
  font-weight: 700
  color: #fff
  font-size: 25px
  text-transform: uppercase

.contact-block
  color: #000
  background-color: #fff
  padding: 20px 30px
  border-radius: 7px
  box-shadow: 0 7px 30px -7px #000
  margin-bottom: 30px
  .contact-block-title
    color: #000
