//menu

.fix-menuBtn
	position: fixed
	top: 30px
	right: 30px
	text-align: center
	width: 55px
	height: 55px
	border-radius: 50%
	background-color: #FFF
	cursor: pointer
	z-index: 999
	transition: all .4s
	div
		width: 20px
		height: 2px
		background-color: #000
		transition: all .6s
		&:first-child
			margin: 22px auto 4px auto
		&:nth-child(2)
			margin: 0 auto 4px auto
		&:last-child
			margin: 0 auto
	&:hover
		box-shadow: 0 0 20px -2px #000
.clicked
	div
		transition: all .6s
		&:first-child
			transform: rotate(400deg)
			margin-top: 27px
		&:nth-child(2)
			opacity: 0
		&:last-child
			transform: rotate(-400deg)
			margin-top: -12px



.menu-effect
	position: fixed
	top: 50px
	right: 50px
	width: 0
	height: 0
	background-color: #FFF
	border-radius: 50%
	transition: all .7s
	z-index: 500
.menu-opening
	width: 3000px
	height: 3000px
	top: -500px
	right: -500px

.menu-screen
	position: fixed
	width: 100%
	height: 100%
	display: none
	z-index: 600
	ul
		width: 33.3%
		float: left
		padding-top: 200px
		height: 100%
		li
			padding: 10px 0
			cursor: pointer
			a
				font-size: 24px
				text-transform: uppercase
				font-weight: 300
				color: #000
				transition: all .4s
				position: relative
				&:after
					transition: all .4s
					content: ''
					height: 1px
					width: 0
					background-color: #000
					position: absolute
					top: -5px
					left: -20px
					transform: rotate(-30deg)
				&:before
					transition: all .4s
					content: ''
					height: 1px
					width: 0
					background-color: #000
					position: absolute
					bottom: 0px
					right: -20px
					transform: rotate(-30deg)
			&:hover
				>.dd-menu
					display: block
				>a
					color: #000
					&:after,
					&:before
						width: 30px
.firestLevel-menu
	padding-left: 100px

.dd-menu
	display: none
	position: absolute
	left: 33.3%
	top: 0
.third-level-menu
	left: 66.6%

////
.fix-logo,
.abs-logo
	top: 30px
	left: 30px
	width: 200px
	z-index: 900
	img
		width: 100%
.fix-logo
	position: fixed
.abs-logo
	position: absolute
.fix-phones
	position: fixed
	bottom: 20px
	left: 30px
	z-index: 666
	display: none
	a
		color: #fff
		font-size: 20px

.labelConnBtn
	position: fixed
	width: 200px
	right: 77px
	text-transform: uppercase
	font-size: 18px
	bottom: 43px
	z-index: 666

.fix-connectBtn
	bottom: 30px
	right: 30px
	z-index: 666
	position: fixed
	ul
		position: absolute
		bottom: 100%
		right: -400px
		width: 300px
		text-align: right
		transition: all .8s
		li
			margin-bottom: 20px
			transform: scale(0)
			transition: .8s

	.emblem
		display: none
		margin-right: 20px
		border-radius: 4px
		background-color: transparentize(#000, .3)
		padding: 7px 17px
		text-transform: uppercase
	&:hover
		.emblem
			display: inline-block
		ul
			right: 0
			li
				transform: scale(1)

.fix-logoPartners,
.abs-logoPartners
	width: 100px
	top: 100px
	left: 30px
	z-index: 900
	img
		width: 100%

.fix-logoPartners
	position: fixed
.abs-logoPartners
	position: absolute


.footer
	
	div
		&:first-child
			font-size: 20px
		&:last-child
			a
				font-size: 20px
				color: #fff
.footer
	background-color: $darkGray
	padding: 30px 0 100px 0
	display: flex
	justify-content: space-around
	.fp-tableCell
		display: flex
		justify-content: space-around
		div
			&:first-child
				font-size: 20px
			&:last-child
				a
					font-size: 20px
					color: #fff
					margin: 0 7px
	div
		&:first-child
			font-size: 20px
		&:last-child
			a
				font-size: 20px
				color: #fff
				margin: 0 7px

.footer-menu
	li
		display: inline-block
		padding: 0 15px
		a
			color: #fff
