//main screen
.main-googleSearch
	height: 80px
	padding: 0 20px
	background-color: #FFF
	line-height: 70px
	width: 800px
	margin: 0 auto
	display: flex
	align-items: center
	position: relative
	.googleLogo
		width: 130px
	.search-line
		width: 580px
		height: 50px
		border: 1px solid $googleMain
		margin-left: 30px
		color: #000
		line-height: 50px
		padding-left: 20px
		font-size: 30px
	button
		width: 51px
		height: 50px
		background-color: $googleMain
		border: none
		line-height: 50px
		position: relative
		overflow: hidden
		&:after
			position: absolute
			top: 50%
			left: 50%
			background-color: transparentize(#fff, .5)
			animation: googleBtn 1s 2.3s
			border-radius: 50%
			content: ''
	.typed-cursor
		display: none

.main-title
	text-align: center
	h1
		font-size: 2.3rem
		font-weight: 700
	h2
		font-size: 2rem	
		margin: 10px 0 30px 0


//service section
.service-card
	color: #000
	height: 280px
	position: relative
	.mainInfo,
	.moreInfo
		position: absolute
		transition: all .7s
		height: 100%
		background-color: #FFF
		width: 100%
	.moreInfo
		background-color: #fff
		opacity: 0
		transform: rotateY(180deg)
		padding: 20px
		div
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 40px
			line-height: 40px
			text-align: center
			&:before
				position: absolute
				top: 0
				left: 25%
				width: 50%
				height: 1px
				background-color: $lightGray
				content: ''
	.mainInfo
		text-align: center
		padding: 50px 0 0 0
		img
			width: 50%
			transition: all .3s
		h4
			text-transform: uppercase
			font-size: 1.8rem
			transition: all .3s
	&:hover
		.moreInfo
			opacity: 1
			transform: rotateY(360deg)
		.mainInfo
			opacity: 0
			transform: rotateY(180deg)
			img,h4
				opacity: 0


//advantages section
.advantages-list
	color: #000
	.collapsible-body
		background-color: #FFF
.tabs
	.indicator
		background-color: #0091ea
	.tab
		a
			color: #0091ea
			&:hover
				color: transparentize(#0091ea, .4)



//team
.team-member
	height: 150px
	width: 90%
	background-color: #FFF
	position: relative
	padding: 10px 20px 0 70px
	color: $darkGray
	text-align: center
	img
		height: 100px
		border-radius: 50%
		box-shadow: 0 0 10px 0 #000
		position: absolute
		top: 50%
		left: -50px
		transform: translateY(-50%)
	h4
		font-size: 1.5rem
		font-weight: 700


//clients
.clients-block
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	background-color: #FFF
	padding: 40px 40px 20px 40px
	.item
		width: 27%
		margin-bottom: 20px
		img
			width: 100%		

//certifications
.certifications-gallery
	display: flex
	align-items: flex-start
	flex-wrap: wrap
.cert-item
	position: relative
	z-index: 1
	box-shadow: 0 5px 30px -5px #000
	transition: all .4s
	display: block
	margin-bottom: 30px
	&:after
		position: absolute
		top: 0
		left: 0
		transform: translate(10px, 10px)
		content: ''
		width: 100%
		height: 100%
		z-index: -1
		border: 1px solid #fff
		transition: all .4s
	img
		width: 100%
	&:hover
		transform: translate(10px, 10px)
		&:after
			transform: translate(0, 0)

//reports
.reportItem
	background-color: #FFF
	text-align: center
	color: $darkGray
	padding: 20px 20px 0 20px
	height: 370px
	img
		width: 100px
		border-radius: 50%
	h4
		font-size: 22px
		font-weight: 700
		margin: 10px 0
	span
		color: $grayText
		text-transform: uppercase
	p
		text-align: left	







