.service-page
	.section-title
		padding: 40px 0 0 0
		h2
			font-weight: 400
			font-size: 30px
	.container
		.row
			&:nth-child(even)
				.service-how-img
					float: right			


.service-how-descr
	height: 300px
	background-color: #FFF
	box-shadow: 0 0 30px -5px #000
	color: #000
	padding: 30px
	margin-bottom: 40px


.service-devider
	height: 300px
	padding-top: 110px
	.circle
		width: 80px
		height: 80px
		margin: 0 auto
		border: 1px solid #fff
		border-radius: 50%
		text-align: center
		padding-top: 20px
		position: relative
		img
			width: 40px
		&:after,
		&:before
			position: absolute
			content: ''
			background-color: #FFF
			width: 1px
		&:before
			height: 110px
			top: -110px
			left: 50%
		&:after
			height: 180px
			top: 100%
			left: 50%

.service-how-img
	width: 250px			