.services-block
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-top: 50px
	.item
		background-color: #FFF
		width: 45%
		padding: 15px 30px
		color: $darkGray
		margin-bottom: 30px
		img
			width: 50px
		span
			text-transform: uppercase
			font-weight: 700
		ul
			text-align: center
			margin-top: 20px
		table
			margin: 30px 0
			tr
				border-bottom: 1px solid $grayText
				td
					&:last-child
						font-weight: 700
#serv_list,
#serv_packages,
#serv_adding
	margin: 60px 0 120px 0
#serv_list,
#serv_adding
	tr
		td
			&:last-child
				width: 300px
#serv_packages
	tr
		td.price
			font-size: 25px
			font-weight: 700
		td
			img
				width: 30px
			&:first-child
				width: 450px
				padding: 0 20px


.services_prev
	margin-top: 40px
	text-align: center
	font-size: 24px
