$googleMain: #4285F4
$lightGray: #bdc3c7
$darkGray: #37474f
$grayText: #ADB5C2

$mainFont: 'proximaRegular', sans-serif

@keyframes bgAnimation
	0%
		background: #2bcd64
	20%
		background: #00caff
	40%
		background: #ffcf27
	60%
		background: #fc2f4e 
	80%
		background: #57599f 
	100%
		background: #2bcd64


@keyframes googleBtn
	0%
		opacity: 0
	2%	
		opacity: 1
	3%
		width: 0
		height: 0
	90%
		width: 100px
		height: 100px
		top: -25px
		left: -25px
	100%
		opacity: 0	


.overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.pt50
	padding-top: 50px	