@font-face 
	font-family: "proximaRegular"
	src: url("../fonts/ProximaNova-Reg.otf")
	font-style: normal
	font-weight: normal

@font-face 
	font-family: "proximaRegular"
	src: url("../fonts/ProximaNova-Bold.otf")
	font-style: normal
	font-weight: 700	

@font-face 
	font-family: "proximaRegular"
	src: url("../fonts/ProximaNova-Light.otf")
	font-style: normal
	font-weight: 300