@import vars
@import fixedElements
@import mainPage
@import servicesPage
@import contactPage
@import blogPage
@import aboutPage
@import servicePage

//resets
html,
body
	font-size: 16px
	font-family: $mainFont
body
	animation: bgAnimation 120s infinite
	color: #fff

h1
	text-align: center
	text-transform: uppercase
	margin: 0
img
	vertical-align: middle

ul
	list-style-type: none
	margin: 0
	padding: 0
.hidden
	display: none !important
.section-title
	text-align: center
	margin-bottom: 50px
	h2
		text-transform: uppercase
		font-size: 3rem
		font-weight: 700
.certofocates-page
	margin-bottom: 80px
.fixed-section-title
	position: absolute
	top: 50px
	left: 50%
	transform: translateX(-50%)
	h2
		text-transform: uppercase
		font-size: 3rem
		font-weight: 700

.moreBtnBlock
	margin: 50px 0
	text-align: center


/* label color */
.input-field-light
	label
		color: #fff

/* label focus color */
.input-field-light input[type=text],
textarea.materialize-textarea-light
	&:focus + label
		color: #e1e1e1

/* label underline focus color */
.input-field-light input[type=text],
textarea.materialize-textarea-light
	border-bottom: 1px solid #fff
	box-shadow: 0 1px 0 0 #fff
	&:focus
		border-bottom: 1px solid #fff
		box-shadow: 0 1px 0 0 #fff
textarea.materialize-textarea-light
	&:focus:not([readonly]) + label
		color: #e1e1e1
textarea.materialize-textarea-light
	&:focus:not([readonly])
		border-bottom: 1px solid #fff
		box-shadow: 0 1px 0 0 #fff


.title-block
	height: 220px
	position: relative
	overflow: hidden
	.bgBlock
		background-size: cover
		filter: blur(5px)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	.overlay
		background-color: transparentize(#000, .4)
		display: flex
		align-items: center
		justify-content: center
		h3
			font-weight: 700
			text-transform: uppercase
.modal
	overflow-y: hidden


.loader
	display: flex
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner 
		background-image: url("../img/Preloader_1.gif")
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		background-color: #fff
		height: 150px
		width: 150px
		margin-top: -75px
		margin-left: -75px
		left: 50%
		top: 50%
		position: absolute